# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
env/

# Database
instance/*.db

# Uploads and Results
static/uploads/*
static/results/*

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Linux
*.swp
